.container {
    padding: 3rem;
}

.todo-list > div {
    padding: 1.5rem;
}

.todo-list form {
    padding-bottom: 1rem;
}

.todo-list ul {
    margin-bottom: 0;
}

.todo-item {
    display: flex;
    padding: .5rem; 
}

.todo-item .form-check {
    width:75%;
}

.todo-item .form-check label {
    user-select: none;
    cursor:pointer;  
}

.todo-item .delete-button {
    width: 25%;
    cursor:pointer;  
    text-align: right;
}